<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.product.mapper.PmsProductCategoryMapper">

    <!--    <resultMap type="UmsMember" id="PmsProduct" >-->
    <!--        <id     property="id"       column="id"      />-->
    <!--        <result property="name"       column="name"      />-->
    <!--        <result property="pic"     column="pic"    />-->
    <!--        <result property="nickName"     column="nick_name"    />-->
    <!--        <result property="email"        column="email"        />-->
    <!--        <result property="note"  column="note"  />-->
    <!--        <result property="password"     column="password"     />-->
    <!--        <result property="status"       column="status"       />-->
    <!--        <result property="loginTime"   column="login_time"  />-->
    <!--        <result property="createTime"   column="create_time"  />-->
    <!--    </resultMap>-->


    <select id="selectProductCategoryList" resultType="PmsProductCategory">
        select id, name, parent_id, level
        from pms_product_category
    </select>
    <select id="selectParentCategoryIdsByCategoryId" resultType="int">
        <if test="categoryId != null and categoryId != 0">
            select parent_id from pms_product_category
            where id = #{categoryId} and parent_id != 0
        </if>
    </select>
</mapper>